body{
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

}


.main-container{
  background-color: rgb(235, 235, 235);
  padding: 40px;
  margin-top: 20px;
  border-radius: 20px;
}

.main-container h1{
  font-weight: 300;
}

.table-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .default-text-display-invisible{
    display: none;
  }


#clear-all-btn{
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-btn{
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
